# Ignore environment variable files and other sensitive data
.env
.env.*


# Installer logs
pip-log.txt
pip-delete-this-directory.txt


.cache
nosetests.xml
coverage.xml
*.cover
*hypothesis*
.pytest_cache/


*.log
local_settings.py


# Sphinx documentation
/docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# PyBuilder
.target/



# dotenv
.envrc

# virtualenv
venv/
ENV/
.venv/

# Spyder project settings
.spyderproject
.spyproject






# VS Code
.vscode/

# macOS
.DS_Store

# Linux
*~
